<div class="main-page-wrapper home-page-two">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<div id="loader-wrapper">
				<div id="loader"></div>
			</div>



			<div class="html-top-content">
				<!-- 
				=============================================
					Theme Header
				============================================== 
				-->
				<header class="theme-main-header">
					<div class="container">
						<div class="menu-wrapper clearfix">
							<div class="logo float-left"><a href="index.html"> <%= image_tag 'logo.png' %> </a></div>

							
						</div> <!-- /.menu-wrapper -->
					</div> <!-- /.container -->
				</header> <!-- /.theme-main-header -->


				<!--
				=====================================================
					Theme Main SLider
				=====================================================
				-->

				<div class="text-white background-banner">
				    <div class="intro-content mt-5">
				      <div class="container">
				        <div class="row">
				          <div class="col-md-6 align-self-center text-white">
				            <h1>Mejora tu experiencia<br>En el portal 80.</h1>
				            <p class="lead mb-4">Ayuda a mejorar el flujo de pasajeros que utilizan <br> el portal calle 80 de Transmilenio</p>
				            <h5>Descargala ahora</h5>
															<a href="#" class="btn-banner btn-applestore"><%= image_tag '1.png' %>App Store</a>
															<a href="#" class="btn-banner btn-googleplay"><%= image_tag '2.png' %>GooglePlay</a>
				          </div><!-- /.col-md-6 -->
				          <div class="col-md-6 ml-auto">
				          		<div class="image-banner">
									 <%= image_tag 'banner.png' %>
								</div>
				          </div><!-- /.col-md-6 -->
				        </div>
				      </div>
				    </div>
				  </div>



		        <!--
				=====================================================
					What We Do
				=====================================================
				-->
				<div class="what-we-do bg">
					<div class="container">
						<div class="theme-title-one text-center">
							<h6>Como Funciona</h6>
							<h2>Agiliza tu salida del Portal 80</h2>
							<h4>Con unos cuantos clicks</h4>
						</div> <!-- /.theme-title-one -->

						<div class="row">
							<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp">
								<div class="single-block tran3s">
									<%= image_tag("download.png", :class => "tran4s") %>
									
									<h6>Descarga</h6>
									<p>Ingresa a al aplicación <br> y selecciona tu tipo de usuario</p>
									
								</div> <!-- /.single-block -->
							</div> <!-- /.col- -->
							<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.1s">
								<div class="single-block tran3s">
									<%= image_tag("wheelchair.png", :class => "tran4s") %>
								
									<h6>Elije</h6>
									<p>Dejanos saber si tienes<br> alguna condición especial de movilidad</p>
									
								</div> <!-- /.single-block -->
							</div> <!-- /.col- -->
							<div class="col-md-3 hidden-sm col-xs-12 wow fadeInUp" data-wow-delay="0.150s">
								<div class="single-block tran3s">
									<%= image_tag("choose.png", :class => "tran4s") %>
									
									<h6>Planea</h6>
									<p>Dinos a donde vas <br> seleccionando tu destino</p>
									
								</div> <!-- /.single-block -->
							</div> <!-- /.col- -->

							<div class="col-md-3 hidden-sm col-xs-12 wow fadeInUp" data-wow-delay="0.150s">
								<div class="single-block tran3s">
									<%= image_tag("bus.png", :class => "tran4s") %>
									
									<h6>Súbete al bus</h6>
									<p>Te recomendamos las mejores rutas <br>segun su hora de llegada y cuantos pasajeros la van a usar.</p>
									
								</div> <!-- /.single-block -->
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.what-we-do -->

				
				<!--
				=====================================================
					Advance Feature
				=====================================================
				-->
				<div class="advance-feature">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-xs-12 wow fadeInLeft">
								<div class="feature-text">
									<div class="theme-title-two">
										<h2>Hemos pensado en que todos vayamos cómodos!</h2>
										<p>Por eso tenemos en cuenta a quienes tengan una condición especial de movilidad.</p>
									</div> <!-- /.theme-title-two -->
									<p>Queremos un portal 80 donde todos nos respetemos y pensemos también en los demás, ayudando a quienes lo necesiten para que todos tengamos una mejor experiencia de viaje.</p>
								</div>
							</div> <!-- /.col- -->

							<div class="col-md-6 col-xs-12">
								<div class="feature-warpper">
									<div class="row">
										<div class="col-xs-6">
											<div class="single-feature bg-one">
												
												<h5>Movilidad reducida temporal</h5>
												<p>Todos algún dia podemos requerir ayuda o un asiento prioritario en casos como: </p>
												<ul><br/>
													<li>Accidente o enfermedad</li>
													<li>Mujeres Embarazadas</li>
													<li>Niños en coches</li>
													<li>Niños en brazos</li>
												</ul>
											</div>
											<div></div>
										</div>

										<div class="col-xs-6">
											<div class="single-feature bg-three">
												
												<h5>Personas en condición de discapacidad Física</h5>
												<p>Especialmente quienes requieren mayor espacio dentro del bus, con sus sillas de ruedas, caminadores, perros guía y otros.</p>
											</div>

											<div class="single-feature bg-four">
												
												<h5>Otras condiciones especiales</h5>
												<p>Aunque no requieran mayor espacio en el bus, si necesitan ayuda para movilizarse y ubicarse.</p>
												<p>Pueden ser adultos mayores, personas invidentes o con discapacidad auditiva, entre otros.</p>
											</div>
										</div>
									</div>
								</div> <!-- /.feature-warpper -->
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.advance-feature -->


		        <!--
				=====================================================
					Boost Your Phone
				=====================================================
				-->
				<div class="boost-your-phone">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-xs-12 float-right  wow fadeInRight">
								<div class="text">
									<div class="theme-title-two">
										<h6>Características</h6>
										<h2>Creada pensando en las necesidades <br>de todos los usuarios Portal 80</h2>
										<p></p>
									</div> <!-- /.theme-title-two -->
									<ul>
										<li><i class="flaticon-tick"></i> Ingreso de datos de salida de buses reales, de acuerdo a agenda de los conductores</li>
										<li><i class="flaticon-tick"></i> Alertas para aprender a ayudar a una persona con necesidad especial cuando se sube al bus</li>
										<li><i class="flaticon-tick"></i> Elige las mejores rutas para los recorridos teniendo en cuenta capacidad del bus y hora de salida</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="boster-image-wrapper  wow fadeInLeft">
							
							<%= image_tag("home/try.png", :class => "try") %>							 
							<input type="checkbox" id="ao-toggle" class="ao-toggle" name="ao-toggle">
							<%= image_tag("features.png", :alt => "Características") %>
							<div class="ao-annotations">
								<span>Interfaz sencilla</span>
								<span>Preferencias de movilidad</span>
								<span>Selección tipo de usuario</span>
								
								
							</div>
						</div> <!-- /.boster-image-wrapper -->
					</div> <!-- /.container -->
				</div> <!-- /.boost-your-phone -->



				




				


				<!--
				=====================================================
					App ScreenShot
				=====================================================
				-->
				<div class="app-screenshot">
					<h2>App Portal M80ve</h2>
					<div class="screenshot-container">
						<div class="phone-mockup"><%= image_tag"home/mobile-mockup.png" %></div>
						<div class="slider-row">
							<div class="screenshoot-slider">
								<div class="item"> <%= image_tag '01-screen.png' %> </div>
								<div class="item"> <%= image_tag '02-scren.png' %> </div>
								<div class="item"> <%= image_tag '03-screen.png' %> </div>
								<div class="item"> <%= image_tag '04-screen.png' %> </div>
								<div class="item"> <%= image_tag '04-screen.png' %> </div>
								
							</div> <!-- /.screenshoot-slider -->
						</div> <!-- /.row -->
					</div> <!-- /.screenshot-container -->
				</div> <!-- /.app-screenshot -->


				<!--
				=====================================================
					Conatct Us
				=====================================================
				-->
				<div class="contact-us-section">
					<div class="container">
						<div class="row">
							<div class="col-md-5 col-xs-12 pull-right">
								<address class="contact-address">
									<div class="theme-title-one">
										<h6>Contáctenos</h6>
										
									</div> <!-- /.theme-title -->
									<p>Teléfono</p>
									<a href="#" class="tran3s call">320 842 88 65</a>
								</address> <!-- /.contact-address -->
							</div>
							<div class="col-md-7 col-xs-12">
								<form action="" class="contact-us-form form-validation" auto-complete="off">
									<input type="email" placeholder="Email*" name="email">
									<input type="text" placeholder="Asunto*" name="sub">
									<textarea placeholder="Mensaje*" name="message"></textarea>
									<div class="theme-button">
										<span></span>
										<input type="submit" value="SEND MESSAGE">
									</div>
								</form>

								<form (<%= form_for @message, url: create_message_url do |f| %>)  class="contact-us-form form-validation" auto-complete="off">
 								 <%= notice %>
								  <%= @message.errors.full_messages.join(', ') %>

								  <%= f.text_field :name, placeholder: 'name' %>
								  <%= f.email_field :email, placeholder: 'email' %>
								  <%= f.text_area :body, placeholder: 'body' %>
								  <div class="theme-button">
										<span></span>
										<input (<%= f.submit 'Send' %>) value="SEND MESSAGE">
										<!--<input type="submit" value="SEND MESSAGE">-->
									</div>

								  
								<% end %>

								<!--Contact Form Validation Markup -->
								<!-- Contact alert -->
								<div class="alert-wrapper" id="alert-success">
									<div id="success">
										<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
										<div class="wrapper">
							               	<p>Your message was sent successfully.</p>
							             </div>
							        </div>
							    </div> <!-- End of .alert-wrapper -->
							    <div class="alert-wrapper" id="alert-error">
							        <div id="error">
							           	<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
							           	<div class="wrapper">
							               	<p>Sorry!Something Went Wrong.</p>
							            </div>
							        </div>
							    </div> <!-- End of .alert-wrapper -->
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.container -->
				</div> <!-- /.contact-us-section -->



			</div> <!-- /.html-top-content -->



			<!--
			=====================================================
				Footer 
			=====================================================
			-->
			<footer>
				<div class="container">
					<div class="footer-data-wrapper">
						<div class="bottom-footer">
							<div class="row">
								<div class="col-lg-6 col-md-7 col-xs-12 text-right pull-right">

									<ul class="social-icon">
										<li><a href="#" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#" class="tran3s"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
								<div class="col-lg-6 col-md-5 col-xs-12 footer-logo">
									<div class="logo"><a href="index.html"> <%= image_tag 'logo.png'  %></a></div>
									<p>Derechos reservados 2018 &copy; <strong>Portal M80ve.</strong></p>
								</div>
							</div> <!-- /.row -->
						</div> <!-- /.bottom-footer -->
					</div>
				</div> <!-- /.container -->
			</footer>


			
	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s color-one-bg">
				<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
			</button>
</div>